<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.win8.quotegenerator"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:maxSdkVersion="22"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logofix"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Kategori"
            android:label="@string/title_activity_kategori"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Inspirational"
            android:label="@string/title_activity_inspirational"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Friendship"
            android:label="Friendship"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Motivational"
            android:label="Motivational"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Love"
            android:label="Love"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".PilihBackground"
            android:label="@string/title_activity_pilih_background"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".GenerateQuoteAtBeach"
            android:label="@string/title_activity_tes_image"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".GenerateQuoteAtFlower"
            android:label="@string/title_activity_tes_image"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".GenerateQuoteAtSmoke"
            android:label="@string/title_activity_tes_image"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".GenerateQuoteAtWood"
            android:label="@string/title_activity_tes_image"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
